*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
p {
    display: block;
    margin-top: 10 px;
    margin-bottom: 1em;
    margin-left: 10px;
    margin-right: 0;
}
.container {
    
    width: 1130px;
    height: 500;
    border: 2px solid gray;
    
}
.config {
    width: 180px;
    height: 500px;
    margin: 0;
   
    background-color: aqua;
}

.GaOps {
    width: 275px;
    height: 500px;
    border-left: 2px solid gray;
    padding-left: 20px;
    background-color: burlywood;
}
.reprocess {
    width: 250px;
    height: 500px;
    border-left: 2px solid gray;
    padding: 1px;
    background-color: greenyellow
}
.display {
    width: 440px;
    height: 500px;
    border-left: 2px solid gray;
    padding: 1px;
  \
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
.left {
    float: left
}
.clear {
    clear: both
}
a {
  color: #00B7FF;
}
#ga {
    color: red;
    
}

#IN {
    color: green;
}
    #OUT {
        
    }

.dd {
        padding-left: 3px;
    }   
trigger {
    align-content: center;
    
    
}
#gaAmt {
    margin-left: 
}
/**** Auto Checkbox  */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


/** Dot Styles **/
.dot {
    overflow: hidden;
    border-style:solid;
    border-width: 2px;
    border-color: #666;
    padding-top: 6px;
    padding-left: 6px;
    width: 32px;
    height: 32px;
    display: inline-block;
    border-radius: 50%;
    margin: 0.2em 0.4em 0.2em 0;
    vertical-align:middle;
    line-height: 32px;
    background: #cccccc;
    -webkit-box-shadow: inset 0 -6px 6px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0 -6px 6px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: inset -6px -6px 6px rgba(0, 0, 0, 0.3), inset 3px 3px 6px rgba(255, 255, 255, 0.3);
}
.dot-inner {
    background: white;
    opacity:0.35;
    filter:alpha(opacity=35);
    -webkit-box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 1);
    border-radius: 50%;
    overflow: hidden;
    width: 6px;
    height: 6px;
    display: block;
    line-height: 0;
}
.red {
    background: #990000;
}
.green {
    background: #009900;
}
.yellow {
    background: #999900;
}